
<form class="contenedor rounded-3" [formGroup]="RegistroProducto" (submit)="onSubmit()">

    <h1>Añadir nuevo producto a la lista</h1>
    
        <div class="example-container">
            <mat-form-field appearance="fill"  class="example-full-width">
              <mat-label>Producto</mat-label>
              <input matInput formControlName="producto" required>

            </mat-form-field>
        </div>

        <div class="example-container">
            <mat-form-field appearance="fill"  class="example-full-width">
              <mat-label>Costo</mat-label>
              <input matInput formControlName="costo" required>

            </mat-form-field>
        </div>

        <div class="example-container">
            <mat-form-field appearance="fill"  class="example-full-width">
              <mat-label>Imagen - URL </mat-label>
              <input matInput formControlName="imagen" required>

            </mat-form-field>
        </div>
  

        <button mat-raised-button 
        color="primary" class="mt-4" >Añadir</button>

</form>